.PostsContainer{
    display: grid;
    grid-template-columns: 1fr 5fr;

}
.PostsNamesContainer{
    overflow: hidden;
    background: rgba(150, 150, 253, 0.45);
}
.PostName{
    padding: 0.4em 0;
    text-align: center;
    transition: transform 1s;

}
.PostName:hover{
    transform: scale(1.1);
}
.linkNamePost{
    text-decoration: none;
    color: #053635;
}
.linkNamePost.active{
    color: red;

}

.PostsText{
    background: rgba(255, 0, 0, 0.3);
    position: relative;
    padding: .4em;
    font-size: 0.6em;
    text-align: center;
}
.input{
    height: 8em;
    width: 75%;
    rows:4;

}
.button{
    position: absolute;
    top:1em;
    right: 1em;
    font-size: 0.7em;
    transition: background 1s;
    cursor: pointer;
    user-select: none;
    border-radius: 2em 2em;
    padding: 0.5em;
    background: #bfcdf3;
}
.button:hover{
    background: #ea3333;
}
.button:active{

    transform: scale(.9);
}