.wrapper{
    padding: 2em 4em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    width: 100%;
}

.photos{
    overflow: hidden;
    position: relative;
    display: flex;
}

.foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .wrapper{
        grid-template-columns: 1fr 1fr 1fr ;
        padding: 0;
    }

}