.header_container{
    position: relative;
}
.header_logo1{
    height: 5em;
    margin-left: 2em;
}
.header_logo2{
    height: 4em;
    margin-left: 2em;
}
.loginContainer{
    position: absolute;
    top: 0;
    right: 2em;
    font-size: 1.5em;

}
.loginContainer a{
    color: white;
}
