$font-stack: Helvetica, sans-serif;
$font-color: #dc2727;
$primary-color: #333;
$font-size: 10px;


.body {
  font-style: $font-stack;
  padding: 25px;

}

.navigation_wrapper {
  font: 250% $font-stack;
  cursor: pointer;
  user-select: none;

  .menu_item {
    opacity: 0.7;
  }

  .active_menu {
    color: #4a2197;
    opacity: 1;
  }


}

.SearchBar {
  margin: 1em;
  padding: 1em;

  .SearchBar_InputContainer {
    position: relative;
    width: 80%;

    .SearchBar_Input {
      font-size: 2.5em;

    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 10%;
      font-size: 2em;
    }
  }


}

.myVideos {
  display: grid;
  grid-template-columns: 13fr 2fr;
  padding: 2em;


  .myVideos_menu {
    background: rgba(124, 191, 112, 0.32);
    margin-left: 2em;
    font: 250% $font-stack;

    div {
      margin-bottom: 1em;
    }
  }

  .myVideos_videosWrapper {
    display: grid;
    grid-row-gap: 3em;
    justify-items: center;
    .moreVideosButton{
      width: 100%;
      height: 5em;

      button{
        font-size: 2.5em;
        height: 100%;
      }
    }
    .video_container{
      display: grid;
      grid-template-columns: 1fr 1fr;

      .myVideos_details {
        font-size: 1.5em;
        background: rgba(162, 195, 238, 0.35);
        width: 100%;
        padding: 15px;
        position: relative;
        display: grid;
        grid-template-rows: 1fr 0.5fr 1fr;

        .videoTitle {
          h2{
            text-align: center;
            color: #1a2e7f;
          }
        }

        .channelTitle {

        }

        .descriptionVideo {

        }

        .dateVideo {
          position: absolute;
          bottom: 5px;
          right: 5px;
          font-style: italic;
          opacity: 0.6;

        }


      }
    }





  }
}

