

.header_content_wrapper{
    margin-left: 200px;
    min-height: 100vh;

}
.header_wrapper {
    position: fixed;
    width: 100vw;
}


.content_wrapper {
    margin-top: 5vh;
    padding:0 0 0 0;
    overflow: initial;
    min-height: 95vh;
    background-image: linear-gradient(315deg, #181818 0%, #4b4152 74%);


}


.imgError {
    width: 10fr;

}

.imgError img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;

}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

